<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIGB - CROMSafe Application</title>


    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'prestamista/busqueda/css/busqavanzada.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'prestamista/busqueda/css/creative.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://127.0.0.1:8000/">Sistema Bibliotecario</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!--li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Recursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Busqueda Rapida</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contactanos</a>
            </li-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/sgb/login">Iniciar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="contenedorbusq" id="msform">
      <div class="titulo">
        Búsqueda Avanzada
      </div>
      <div class="contenedorbusqpor">
        <div class="buscarpor"><h1>Buscar por</h1></div>
        <div class="opcionbusqueda">
          <select class="listboxcatalogo">
            <option>Palabra clave</option>
            <option>Tema</option>
            <option>Título</option>
            <option>Autor</option>
            <option>ISBN</option>
            <option>Código</option>
          </select>
          <input type="text" name="palabraclave" class="inputpalabra">
        </div>
        <div class="opcionbusqueda">
          <select class="listboxcatalogo">
            <option>Palabra clave</option>
            <option>Tema</option>
            <option>Título</option>
            <option>Autor</option>
            <option>ISBN</option>
            <option>Código</option>
          </select>
          <input type="text" name="palabraclave" class="inputpalabra">
        </div>
        <div class="opcionbusqueda">
          <select class="listboxcatalogo">
            <option>Palabra clave</option>
            <option>Tema</option>
            <option>Título</option>
            <option>Autor</option>
            <option>ISBN</option>
            <option>Código</option>
          </select>
          <input type="text" name="palabraclave" class="inputpalabra">
        </div>
      </div>
      <div class="contenedorubqcontform">
        <div class="ubicacion clearfix">
          <h1>Ubicación y disponibilidad <br><br> Biblioteca</h1>
          <select class="biblioteca col-6">
            <option>Todas las bibliotecas</option>
            <option>Bib1</option>
            <option>Bib2</option>
          </select>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Recordarme">
              Solo items disponibles para prestamo o referencia
            </label>
          </div>
        </div>
        <div class="contform clearfix">
          <h1>Contenido</h1>
          <select class="contenido">
            <option>Ficción</option>
            <option>No-Ficción</option>
            <option>Biografía</option>
          </select>
          <h1>Formato</h1>
          <select class="formato col-12">
            <option>Cualquier formato</option>
            <option>Digital</option>
            <option>Físico</option>
          </select>
        </div>
      </div>
      <div class="tipoitem">
        <h1>Tipo de item<br>Limitar a cualquiera de los siguientes</h1>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="archivocomp">
            <i class="fa fa-laptop" aria-hidden="true"></i>
            Archivo de Computadora
          </label>
          <label>
            <input type="checkbox" value="libro">
            <i class="fa fa-book" aria-hidden="true"></i>
            Libros
          </label>
          <label>
            <input type="checkbox" value="mapa">
            <i class="fa fa-map-o" aria-hidden="true"></i>
            Mapas
          </label>
          <label>
            <input type="checkbox" value="matemixto">
            Materiales Mixtos
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="matvisu">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            Materiales visuales
          </label>
          <label>
            <input type="checkbox" value="musica">
            <i class="fa fa-music" aria-hidden="true"></i>
            Musica
          </label>
          <label>
            <input type="checkbox" value="recursoelect">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            Recursos Electronicos
          </label>
          <label>
            <input type="checkbox" value="recursoperiod">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            Recursos periodicos
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="referencia">
            <i class="fa fa-question" aria-hidden="true"></i>
            Referencia
          </label>
          <label>
            <input type="checkbox" value="reserva">
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            Reserva
          </label>
          <label>
            <input type="checkbox" value="tesis">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Tesis
          </label>
        </div>
      </div>
      <div class="botonbuscar">
        <button class="btnbsqavanzada" type="submit">Buscar</button>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'global/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'global/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'global/vendor/scrollreveal/scrollreveal.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'prestamista/busqueda/js/creative.min.js' %}"></script>

  </body>

</html>
