<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIGB - CROMSafe Application</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'global/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'prestamista/paginadeinicio/css/creative.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">


  {% load staticfiles %}


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Sistema Bibliotecario</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Recursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Búsqueda Rápida</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/sgb/login">Iniciar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Bienvenido</strong>
            </h1>
            <h2 class="text-uppercase">
              Empecemos con la ruta hacia el conocimiento
            </h2>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">"Las bibliotecas estan llenas de ideas, tal vez sea la más peligrosa y<br>&nbsp; poderosa de las armas" - Sarah J. Maas</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Empezar</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">La biblioteca en linea más completa en El Salvador</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Este proyecto está destinado a la gestión informática y a la automatización de las diferentes actividades necesarias para el funcionamiento de una biblioteca. Dicho sistema es capaz de controlar diferentes fuentes de consulta como, por ejemplo, libros, revistas, CD, DVD, hemerotecas, entre otros. </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/sgb/avanzada">Realizar Busqueda</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Diversos recursos</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-book-open text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Libros</h3>
              <p class="text-muted mb-0">Catalogación eficaz de cada recurso dentro de la biblioteca.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-compact-disc text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Medios Digitales</h3>
              <p class="text-muted mb-0">Entorno amistoso, de fácil uso. Siempre al alcance de tu mano.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-building text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Planos</h3>
              <p class="text-muted mb-0">Facilidad de préstamo a cualquiera que lo requiera.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-graduation-cap text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Tesis</h3>
              <p class="text-muted mb-0">Recursos completos y variados en un solo lugar.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <p class="text-muted mb-0"><br><br><br>Y mucho más...</p>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <!--div class="row no-gutters popup-gallery"-->
          <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="{% static 'prestamista/paginadeinicio/img/tipoarchivo/book.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <!--<div class="project-category text-faded">
                    Category
                  </div>-->
                  <div class="project-name">
                    Libros
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="{% static 'prestamista/paginadeinicio/img/tipoarchivo/descarga.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <!--<div class="project-category text-faded">
                    Category
                  </div>-->
                  <div class="project-name">
                    Recursos Descargables
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="{% static 'prestamista/paginadeinicio/img/tipoarchivo/tesis.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <!--<div class="project-category text-faded">
                    Category
                  </div>-->
                  <div class="project-name">
                    Tesis
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="{% static 'prestamista/paginadeinicio/img/tipoarchivo/blueprint.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <!--<div class="project-category text-faded">
                    Category
                  </div>-->
                  <div class="project-name">
                    Planos
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="{% static 'prestamista/paginadeinicio/img/tipoarchivo/music.jpg' %}" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <!--<div class="project-category text-faded">
                    Category
                  </div>-->
                  <div class="project-name">
                    Música
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="">
              <img class="img-fluid" src="{% static 'prestamista/paginadeinicio/img/tipoarchivo/newspaper.jpg' %}" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <!--<div class="project-category text-faded">
                      Category
                    </div>-->
                    <div class="project-name">
                      Recursos Periódicos
                    </div>
                  </div>
                </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <form>
          <div class="form-group">
            <!--label for="busquedaInput" class="labelbusqinput">Búsqueda</label-->
            <input type="text" class="form-control" id="busquedaInput" aria-describedby="emailHelp"
                   placeholder="Introduce el titulo del recurso que estes buscando.">
            <small id="emailHelp" class="form-text text-muted">Lo importante no es lo que se busca, sino los hechos que se desencadenan a partir de la búsqueda. - <i>Jean Echenoz</i></small>
          </div>
        </form>
        <button type="button" class="btn btn-secondary btn-sm col-sm-6 col-md-5 col-lg-2">Buscar</button>
        <div>
          <a role="button" class="btn btn-secondary btn-sm mt-3 col-sm-10 col-md-6 col-lg-3 float-lg-right" href="/sgb/avanzada">Opciones Avanzadas</a>
        </div>
        <!--<h2 class="mb-4">Realiza una busqueda mas a profundidad</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Busqueda Avanzada</a>-->
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">CROMSafe Application</h2>
            <hr class="my-4">
            <p class="mb-5">¿Deseas comunicarte con los desarrolladores? Contáctanos, te responderemos de inmediato.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>2221-2521</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">CROMSafe@ues.edu.sv</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'global/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'global/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'global/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <!--script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script-->

    <!-- Custom scripts for this template -->
    <script src="{% static 'prestamista/paginadeinicio/js/creative.min.js' %}"></script>

  </body>

</html>
