<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>SIGB - CROMSafe Application</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'prestamista/login/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'prestamista/login/css/all.css' %}" rel="stylesheet" id="">
    <script src="{% static 'prestamista/login/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'prestamista/login/js/jquery.min.js' %}"></script>

    <!-- Custom fonts for this template -->
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'prestamista/login/css/style.css' %}">
    <link href="{% static 'prestamista/login/css/creative.css' %}" rel="stylesheet">


</head>

<body>

{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://127.0.0.1:8000/">Sistema Bibliotecario</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- multistep form -->
<form id="msform" method="POST" action="">

    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Iniciar Sesión</h2>
        <h3 class="fs-subtitle">Introduce tus credenciales</h3>
        {% csrf_token %}
        <!--input type="text" name="usuario" placeholder="Usuario"-->
        {{ form.username }}
        <!--input type="password" name="pass" placeholder="Contraseña"-->
        {{ form.password }}
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label fs-subtitle m-auto" for="customCheck1">Recordar contraseña</label>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <!--input type="submit" class="submit action-button" value="Entrar" name="btnEntrar" id="btnEntrar" /-->
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <h3 class="fs-subtitle mt-2">¿No tienes cuenta? Registrate <a href="/sgb/registrar">aquí</a>.</h3>
    </fieldset>
</form>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script-->
<script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<script  src="{% static 'prestamista/login/js/index.js' %}"></script>




</body>

</html>
