<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>SIGB - CROMSafe Application</title>

  {% load staticfiles %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'prestamista/useregister/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
  <link href="{% static 'prestamista/useregister/css/all.css' %}" rel="stylesheet" id="">
  <script src="{% static 'prestamista/useregister/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'prestamista/useregister/js/jquery.min.js' %}"></script>

  <!-- Custom fonts for this template -->
  <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'prestamista/useregister/css/style.css' %}">
  <link href="{% static 'prestamista/useregister/css/creative.css' %}" rel="stylesheet">


</head>

<body>
{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="http://127.0.0.1:8000/">Sistema Bibliotecario</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

  <!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Configuración</li>
    <li>Datos personales</li>
    <li>Residencia</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Crea tu cuenta</h2>
    <h3 class="fs-subtitle">Paso 1</h3>
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="pass" placeholder="Contraseña" />
    <input type="password" name="cpass" placeholder="Confirma tu contraseña" />
    <input type="button" name="next" class="next action-button" value="Siguiente" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Datos personales</h2>
    <h3 class="fs-subtitle">Paso 2</h3>
    <input type="text" name="fname" placeholder="Nombre" />
    <input type="text" name="lname" placeholder="Apellido" />
    <!--input type="text" name="genero" placeholder="Género" /-->
    <select class="mb-2">
      <option>Masculino</option>
      <option>Femenino</option>
      <option>Prefiero no compartirlo</option>
    </select>
    <input type="text" name="phone" placeholder="Teléfono" />
    <input type="text" name="occupation" placeholder="Ocupación" />
    <input type="button" name="previous" class="previous action-button" value="Anterior" />
    <input type="button" name="next" class="next action-button" value="Siguiente" />
    <h6 class="fs-subtitle">Uso único para tus préstamos</h6>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Datos personales</h2>
    <h3 class="fs-subtitle">Paso 3</h3>
    <!--input type="text" name="pais" placeholder="Pais" /-->
    <select class="mb-2">
      <option>País</option>
      <option>El Salvador</option>
      <option>Más por venir...</option>
    </select>
    <input type="text" name="departamente" placeholder="Departamento" />
    <input type="text" name="municipio" placeholder="Municipio" />
    <textarea name="address" placeholder="Dirección"></textarea>
    <input type="button" name="previous" class="previous action-button" value="Anterior" />
    <input type="submit" name="submit" class="submit action-button" value="Finalizar" />
    <h6 class="fs-subtitle">Uso único para tus préstamos</h6>
  </fieldset>
</form>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!--script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script-->
  <script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <script  src="{% static 'prestamista/useregister/js/index.js' %}"></script>




</body>

</html>
