/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
  box-sizing: border-box;!important;
}
body{
  /*background-color: #f5f1ed;*/
  text-align: center;!important;

  font-family: montserrat, arial, verdana;
  	background: #fcdfd8;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F05F40, #f69f8c, #fcdfd8);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F05F40, #f69f8c, #fcdfd8);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** start busqavanzada css **/
div.contenedorbusq{
  margin:10px 10px 10px 10px;
  padding: 10px;
  background-color: #ffffff;
  /*border: 1px solid #252323;*/
  border-radius: 2px;
}
div.titulo{
  font-family: montserrat, arial, verdana;
  font-size: 4vw;
}
@media only screen and (min-width: 480px){
  div.titulo{
    font-size: 3vw;
  }
}
@media only screen and (min-width: 768px){
  div.titulo{
    font-size: 2vw;
  }
}
@media only screen and (min-width: 992px){
  div.titulo{
    font-size: 1.6vw;
  }
}
div.contenedorbusqpor{
  margin: 20px 0 0 0;
}
div.buscarpor{
  font-family: montserrat, arial, verdana;
}
div.buscarpor h1{
  font-size: 4vw;
}
@media only screen and (min-width: 768px){
  div.buscarpor h1{
    font-size: 2vw;
  }
}
div.opcionbusqueda{
  margin: 15px 0 0 0;
}
select.listboxcatalogo{
  width: 150px;
  color: #252323;
}
input{
  overflow: visible;
  font-family: montserrat, arial, verdana;
}
input.inputpalabra{
  width: 150px;
  color: #252323;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
@media only screen and (min-width: 480px){

}
@media only screen and (min-width: 768px){
  input.inputpalabra{
    width: 200px;
  }
}
div.contenedorubqcontform{
  font-family: montserrat, arial, verdana;
}
div.ubicacion{
  margin: 20px 0 20px 0;
}
div.ubicacion h1{
  font-size: 4vw;
}
@media only screen and (min-width: 768px){
  div.ubicacion{
    float: left;
    padding-left: 10%;
    margin: 50px 0 20px 0;
  }
  div.ubicacion h1{
    font-size: 2vw;
  }
}
select{
  width: 150px;
}
div.contform{
  margin: 20px 0 20px 0;
}
div.contform h1{
  font-size: 4vw;
}
@media only screen and (min-width: 768px){
  div.contform{
    float: right;
    padding-right: 15%;
  }
  div.contform h1{
    font-size: 2vw;
  }
}
div.tipoitem{
  font-family: montserrat, arial, verdana;
}
div.tipoitem h1{
  font-size: 4vw;
}
@media only screen and (min-width: 768px) {
  div.tipoitem{
    margin-top: 22%;
  }
  div.tipoitem h1{
    font-size: 2vw;
  }
}
div.checkbox{

}

input[type=submit]{
  -webkit-appearance: button;
  -moz-appearance: button;
}
div.botonbuscar{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center
}
button.btnbsqavanzada:not(:disabled):not(.disabled) {
  cursor: pointer;
}
button.btnbsqavanzada{
  font-family: montserrat, arial, verdana;
  display: block;
  width: 150px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: #ffffff;
  background-color: #F05F40;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button.btnbsqavanzada:hover{
  background-color: #eb3812;
}
/** end busqavanzada css **/

#msform input, #msform textarea, #msform select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	/*width: 100%;*/
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform select{
	background-color: white;
	color: #8c8c8c;
	padding: 13px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
