<!DOCTYPE html>
{%load static %}
<html>
<head>
	<title></title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

		<link href="{% static "home/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template  (plantilla)-->
    <link href="{% static "home/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static "home/css/agency.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                 <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="http://localhost:8000">Biblioteca</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/sgb/"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sgb/"></a>
                    </li>
                  <!--  <li class="nav-item">
                        <a class="nav-link" href= "xxx">VER ESTADISTICA</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="/sgb/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" /sgb/Facebook"></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

 <!-- Bootstrap core JavaScript -->
    <script src="{% static "home/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "home/vendor/tether/tether.min.js" %}"></script>
    <script src="{% static "home/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "home/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static "home/js/jqBootstrapValidation.js" %}"></script>
    <script src="{% static "home/js/contact_me.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "home/js/agency.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

</body>
</html>
