<!DOCTYPE html>
{% load static%}
<html>
<head>
	<title>{% block titulo %}Administrador{%endblock titulo %}</title>
</head>
<header>
{%block header1 %}
	<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	<link href="{% static "css/bootstrap4.css" %}" rel="stylesheet" type="text/css" />
	<link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet" type="text/css" />
	<script src="{% static "js/bootstrap4.js" %}"></script>
	<link href="{% static "font-awesome/all.css" %}" rel="stylesheet" type="text/css" />

	<!--aqui llamo a highchart para graficar-->
	<script src="{% static "home/js/agency.min.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>

		<!--ES PARA LAS TABLAS DEL CRUD-->
	<link rel="stylesheet" href="{% static "tabla/styleTable.css" %}" type="text/css">
	<link href="{% static "font-awesome/all.css" %}" rel="stylesheet" type="text/css" />

	<!-- Íconos -->
	<link href="{% static "font-awesome/all.css" %}" rel="stylesheet" type="text/css" />

{%endblock header1 %}
</header>

<body>
	<header>
		{%block barra %}
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
  			<a class="navbar-brand" href="/sgb/administrador">ADMINISTRADOR </a>
  			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    			<div class="navbar-nav">
      				<a class="nav-item nav-link" href="{% url 'sgb:biblioteca_list' %}">Crear Biblioteca</a>
                    <a class="nav-item nav-link" href="/sgb/listaEstudiante">Estudiantes</a>
                    <a class="nav-item nav-link" href="/sgb/listaBibliotecario">Bibliotecarios</a>
                    <a class="nav-item nav-link" href="/sgb/listaVisitante">Visitantes</a>
                    <a class="nav-item nav-link" href="/sgb/categoria/">Gestionar Categoria</a>
					<a class="nav-item nav-link" href="/sgb/subCategoria/">Gestionar SubCategoria</a>
					<a class="nav-item nav-link" href="/sgb/autor/">Gestionar Autor</a>
					<a class="nav-item nav-link" href="{%url 'sgb:itemListar'%}">Gestionar Ítem</a>
					<a class="nav-item nav-link" href="{%url 'sgb:itemEspListar'%}">Ítems específicos</a>
      				<a class="nav-item nav-link" href="{% url 'sgb:logout' %}">Salir</a>
				</div>
			</div>
		</nav>
		{%endblock barra %}
	</header>
	{%block contenido %}
	{%endblock contenido %}
	{%block javascript%}
	{%endblock%}
</body>

</html>