<!DOCTYPE html>
{% load static%}

<head>
  <title>Administrador</title>
</head>

<body style="background-color: #ddd;">
  <header>
    <!--ARCHIVOS DE ESTILO -->
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    <script src="{% static "js/demo.js" %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link href="{% static "font-awesome/all.css" %}" rel="stylesheet" type="text/css" />
  </header>
  <header>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="">Administrador</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'sgb:buscar_item' %}">Consultar</a>
            <a class="nav-item nav-link" href="{% url 'sgb:logout' %}">Salir</a>
        </div>
      </div>
    </nav>
  </header>
  <div style="width: 80%; margin-right: auto; margin-left: auto; background-color: white; padding: 20px 20px;">
      {%block contenido %}

      {%endblock contenido %}
  </div>
</body>

</html>
