<!DOCTYPE html> {% load static%}

<head>
  <title>{% block titulo %}Administrador{%endblock titulo %}</title>
</head>

<body style="background-color: #ddd;">
    <!--ARCHIVOS DE ESTILO -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "font-awesome/all.css" %}" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
  <header>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="">Administrador</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'sgb:buscar_item' %}">Consultar</a>
          <a class="nav-item nav-link" href="{% url 'sgb:biblioteca_list'%}">Biblioteca</a>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personas
              <span class="caret"></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/sgb/listaEstudiante">Estudiantes</a>
              <a class="dropdown-item" href="/sgb/listaBibliotecario">Bibliotecarios</a>
              <a class="dropdown-item" href="/sgb/listaVisitante">Visitantes</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catálogos
              <span class="caret"></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/sgb/categoria/">Categoria</a>
              <a class="dropdown-item" href="/sgb/subCategoria/">SubCategoria</a>
              <a class="dropdown-item" href="/sgb/autor/">Autores</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Items
              <span class="caret"></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{%url 'sgb:itemListar'%}">Ítems</a>
              <a class="dropdown-item" href="{%url 'sgb:itemEspListar'%}">Ítems específicos</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Préstamos
              <span class="caret"></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{%url 'sgb:solicitarPrestamo'%}">Solicitar préstamo</a>
              <a class="dropdown-item" href="{%url 'sgb:gestionarPrestamo'%}">Gestionar préstamos</a>
              <a class="dropdown-item" href="{%url 'sgb:recibirItems'%}">Recibir Items</a>
            </div>
          </div>
          <a class="nav-item nav-link" href="{% url 'sgb:estadistica' %}">Estadistica</a>
          <a class="nav-item nav-link" href="{% url 'sgb:logout' %}">Salir</a>
        </div>
      </div>
    </nav>
  </header>
  <div style="width: 80%; margin-right: auto; margin-left: auto; background-color: white; padding: 20px 20px;">
    {%block contenido %} {%endblock contenido %}
  </div>
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/jquery.form.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% block scripts %}

  {% endblock scripts %}
</body>
</html>
