<!DOCTYPE html>
{% extends 'BaseAdmin.html' %}
{% load static %}
<head>
	<title>{% block titulo %}Crear Biblioteca{% endblock titulo %}</title>
	</head>
<body>
	{%block contenido %}
	<center>
	<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
					<h1 class="text-primary">¡Biblioteca .!</h1>
					<form method="POST">
						{% csrf_token %}
                        {{form.as_p}}

						<button class="btn btn-primary" type="submit" > Guardar </button>

						<a class="btn btn-danger" href=" {% url 'sgb:biblioteca_list' %} ">Cancelar</a>

					</form>

			</div>
		</div>
		</div>
	</center>

   {%endblock contenido %}



