<!DOCTYPE html>
{% extends 'BaseAdmin.html' %}
{% load static %}
<head>
	<title>{% block titulo %}Eliminar Biblioteca{% endblock titulo %}</title>
	</head>
<body>
	{%block contenido %}
	<center>
	<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
					<h1 class="text-primary">¡ Eliminar Biblioteca .!</h1>
					<form method="POST">
						{% csrf_token %}
                        <h3>¿Desea eliminar el registro de {{ object.nombreBiblioteca}}?</h3>
						<button class="btn btn-danger" type="submit" > Si, eliminar </button>

						<a class="btn btn-default" href=" {% url 'sgb:biblioteca_list' %} ">Cancelar</a>

					</form>

			</div>
		</div>
		</div>
	</center>

   {%endblock contenido %}