{% extends 'biblioteca.html' %}
{% load static %}
{% block titulo %}
	Bibliotecas
{% endblock titulo %}
{%block contenido %}
<br><center><h4><b>Bibliotecas ingresadas</b></h4></center><br>

<a href="{% url 'sgb:biblioteca_create'%}" class="btn btn-primary">Agregar Biblioteca</a>
<br />
<hr />
<table class="table table-bordered table-condensed table-hover table-alternate">
	<thead>
		<td>#</td>
		<td>Nombre</td>
		<td>Direccion</td>
		<td>Telefono</td>
        <td>Acciones</td>
	</thead>
	<tbody>
		{% if object_list %}
		{% for biblioteca in object_list %}
		<tr>
			<td>{{bibliotea.idBiblioteca}}</td>
			<td>{{biblioteca.nombreBiblioteca}}</td>
			<td>{{biblioteca.direccion}}</td>
			<td>{{biblioteca.telefono}}</td>
            <td>
                <a Class= "btn btn-primary" href="{% url 'sgb:biblioteca_update' biblioteca.idBiblioteca %}">Editar</a>
                <a Class= "btn btn-danger" href="{% url 'sgb:biblioteca_delete' biblioteca.idBiblioteca %}">Eliminar</a>
            </td>
		</tr>
		{% endfor %}

		{% else %}
			<h3>No hay registro de bibliotecas</h3>
		{% endif %}

	</tbody>

</table>

{%endblock contenido %}
</body>


