{% extends 'biblioteca.html' %}
{% load static %}
{% block titulo %}
	Bibliotecas
{% endblock titulo %}
{%block contenido %}
<br><center><h4><b>Item especificos existentes </b></h4></center><br>
<a Class= "btn btn-primary" href="{% url 'sgb:buscar_item'%}">Regresar</a>
<br>
<hr/>
	<table class="table table-bordered table-condensed table-hover table-alternate">
	<thead>
		<td>Nombre</td>
		<td>Descripción</td>
		<td>Volumen</td>
        <td>Editorial</td>
		<td>Biblioteca</td>
	    <td>Estado</td>
        <td>Acciones</td>
	</thead>
	<tbody>
		{% if itemsE %}
		{% for item in itemsE %}
		<tr>
			<td>{{item.2}}</td>
			<td>{{item.3}}</td>
			<td>{{item.4}}</td>
            <td>{{item.5}}</td>
			<td>{{item.7}}</td>
            <td>
            {% if item.6 == 1 %}
              Disponible
            {% else %}
			  No disponible
		    {% endif %}
            </td>
			<td>
				<a Class= "btn btn-primary" href="">Solicitar</a>
			</td>

		</tr>
		{% endfor %}

		{% else %}
			<h5>No hay exitencias de ese item.</h5>
		{% endif %}

	</tbody>

</table>
{%endblock contenido %}
</body>>