{% extends 'basePrestamista.html' %}
{% load static %}
{% block titulo %}
	Bibliotecas
{% endblock titulo %}
{%block contenido %}
<br><center><h4><b>Busqueda de material bibliografico</b></h4></center><br>
<form method="GET" action="{% url 'sgb:buscar_item' %}">
	<div class="opcionbusqueda">
		<a><b>Item</b></a>
		<input type="text" name="nombreItem" class="inputpalabra" id="nombreItem">
    </div>
<br>
<button type="submit" Class= "btn btn-primary">Buscar</button>
</form>

<br>
<hr/>
	<table class="table table-bordered table-condensed table-hover table-alternate">
	<thead>
		<td>Codigo</td>
		<td>Nombre</td>
		<td>Autor</td>
		<td>SubCategoria</td>
		<td>Categoria</td>
	    <td>Acciones</td>
	</thead>
	<tbody>
		{% if items %}
		{% for item in items %}
		<tr>
			<td>{{item.0}}</td>
			<td>{{item.1}}</td>
			<td>{{item.2}}</td>
			<td>{{item.5}}</td>
			<td>{{item.4}}</td>
			<td>
				<a  Class= "btn btn-primary"  href="{% url 'sgb:buscar_itemE' item.0 %}">Ver</a>
			</td>

		</tr>
		{% endfor %}

		{% else %}
			<h5>No hay resultados de busqueda</h5>
		{% endif %}

	</tbody>

</table>
{%endblock contenido %}
</body>>