{% extends "biblioteca.html" %}
{% block titulo %}
	Eliminar - Bibliotecario
{% endblock %}
{% block contenido %}
<h3 class="text-primary">¡Eliminar Bibliotecario ...!</h3>
<form method="post">
  {% csrf_token %}
    <p>¿Está seguro que desea eliminar el Bibliotecario?</p>
    Nombres: <strong>{{object.persona.nombrePersona}}</strong><br />
    Apellidos: <strong>{{object.persona.apellidoPersona}}</strong><br />
    Fecha de nacimiento: <strong>{{object.persona.fechaNacimiento|date:"d/m/Y"}}</strong><br />
    Telefono: <strong>{{object.persona.telefono}}</strong><br />
    Usuario: <strong>{{object.persona.usuario.username}}</strong><br />
		Biblioteca: <strong>{{object.biblioteca.biblioteca}}</strong><br />
		Puesto: <strong>{{object.puesto}}</strong><br />
		Fecha de contratacion: <strong>{{object.fechaContratacion|date:"d/m/Y"}}</strong><br />

    <hr />
    <input type="submit" value="Eliminar" class="btn btn-danger" />&nbsp;&nbsp;
		<a href="/sgb/listaBibliotecario" class="btn btn-secondary">Regresar</a>
</form>
  {%endblock %}
