{% extends "biblioteca.html" %}
{% block titulo %}
	Eliminar - Visitante
{% endblock %}
{% block contenido %}
<h3 class="text-primary">¡Eliminar Visitante ...!</h3>
<form method="post">
  {% csrf_token %}
    <p>¿Está seguro que desea eliminar el Visitante?</p>
    Nombres: <strong>{{object.persona.nombrePersona}}</strong><br />
    Apellidos: <strong>{{object.persona.apellidoPersona}}</strong><br />
    Género: <strong>{{object.persona.genero}}</strong><br />
    Ocupación: <strong>{{object.persona.ocupacion}}</strong><br />
    Fecha de nacimiento: <strong>{{object.persona.fechaNacimiento|date:"d/m/Y"}}</strong><br />
    Telefono: <strong>{{object.persona.telefono}}</strong><br />
    Correo electrónico: <strong>{{object.persona.usuario.email}}</strong><br />
    Usuario: <strong>{{object.persona.usuario.username}}</strong><br />
		Edad: <strong>{{object.edad}}</strong><br />
		Grado Academico: <strong>{{object.gradoAcademico}}</strong><br />
    <hr />
    <input type="submit" value="Eliminar" class="btn btn-danger" />&nbsp;&nbsp;
		<a href="/sgb/listaVisitante" class="btn btn-secondary">Regresar</a>
</form>
  {%endblock %}
