<!DOCTYPE html>
{% extends 'BaseAdmin.html' %}
{% load static %}
{%block contenido %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gestionar Autor</title>
</head>

<body>
<script>
function obtenerID() {
	var table = document.getElementById('table');
	for(var i = 1; i < table.rows.length; i++)
	{
		table.rows[i].onclick = function()
		{
			document.getElementById("editar0").value = this.cells[0].innerHTML;
			document.getElementById("editar1").value = this.cells[1].innerHTML;
			document.getElementById("editar2").value = this.cells[2].innerHTML;
			document.getElementById("editar3").value = this.cells[3].innerHTML;
		};
	}
}

function limpiarCampo() {
	document.getElementById("editarCategoria").value = "";
}
function limpiarAgregar() {
	document.getElementById("agregar1").value = "";
}
function eliminarID() {
    var table = document.getElementById('table');
	for(var i = 1; i < table.rows.length; i++)
	{
		table.rows[i].onclick = function()
		{
		    var a = this.cells[0].innerHTML;
		    var b = this.cells[1].innerHTML;
		    var c = this.cells[2].innerHTML;

		    var e =  b + " "+c;
			document.getElementById("eliminar0").value = a;
			document.getElementById("eliminar1").value = e;
		};
	}
}
</script>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Gestionar <b>Autor</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
							<i class="material-icons">&#xE147;</i> <span>Agregar Autor</span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="table">
                <thead>
                    <tr>
						<th>ID</th>
                        <th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
				{% for c in listaAutor %}
                    <tr>
						<td>{{ c.idAutor }}</td>
                        <td>{{ c.nombres }}</td>
						<td>{{ c.apellidos }}</td>
						<td>{{ c.nacionalidad }}</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Editar" onclick="obtenerID()">&#xE254;</i></a>
                        	<a href="#deleteEmployeeModal" class="delete" name="eliminar" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Eliminar" onclick="eliminarID()" >&#xE872;</i></a>
						</td>
                    </tr>
				{% endfor %}
                </tbody>
            </table>
        </div>
    </div>


	<!-- FORMULARIO AGREGAR -->
	<div id="addEmployeeModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Agregar Autor</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Nombre: </label>
							<input type="text" name="agregar0" id="agregar0" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Apellido: </label>
							<input type="text" name="agregar1" id="agregar1" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Nacionalidad: </label>
							<input type="text" name="agregar2" id="agregar2" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar" onclick="limpiarAgregar()">
						<input type="submit" class="btn btn-info" value="Agregar" name="agregar">
					</div>
				</form>
			</div>
		</div>
	</div>




	<!-- FORMULARIO EDITAR -->
	<div id="editEmployeeModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="get">
					<div class="modal-header">
						<h4 class="modal-title">Editar Autor</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label>
							<input type="text" name="editar0" id="editar0" class="form-control"  readonly="readonly">
						</div>
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" name="editar1" id="editar1" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Apellido</label>
							<input type="text" name="editar2" id="editar2" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Nacionalidad</label>
							<input type="text" name="editar3" id="editar3" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar"  onclick="limpiarCampo()" >
						<input type="submit" class="btn btn-info" value="Guardar" name="actualizar">
					</div>
				</form>
			</div>
		</div>
	</div>




	<!-- ELIMINAR FORMULARIO -->
	<div id="deleteEmployeeModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="get">
					<div class="modal-header">
						<h4 class="modal-title">Eliminar Autor</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>¿Desea borrar el requistro?</p>
						<input style="border:none"  type="text" id="eliminar0" name="eliminar0" readonly="readonly"></input>
						<br>
						<input style="border:none"  type="text" id="eliminar1" name="eliminar1" readonly="readonly"></input>
						<br>
						<p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
					</div>

					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Eliminar" name="eliminar" >
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
{%endblock contenido %}
</html>