{% extends 'biblioteca.html' %}
{% load static%}
{% block titulo %}Solicitar préstamo{% endblock titulo %}
{% block contenido %}
<h2>Gestionar Préstamo</h2>
<h4>Préstamos solicitados</h4>
<table class="table table-condensed table-hover table-sm table-striped" id="tblPrestamosPendientes">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha solicitud</th>
  <th>Autor</th>
  <th>Persona</th>
  <th> </th>
  <th> </th>
</tr>
  </thead>
  <tbody>
    {% for p in pendiente %}
    <tr>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.nombreItem}}</td>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.descrpcionItem}}</td>
      <td>{{p.solicitudPrestamo.fechaSolicitud|date:"d/m/Y"}}</td>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.idAutor.nombres}} {{p.solicitudPrestamo.itemEspecifico.idItem.idAutor.apellidos}}</td>
      <td>{{p.solicitudPrestamo.persona.nombrePersona}} {{p.solicitudPrestamo.persona.apellidoPersona}}</td>
      <td>
        <a href="#" id="prestar" data-id="{{p.idEstatusSolicitud}}" data-especifico="{{p.solicitudPrestamo.itemEspecifico.idItemEspecifico}}" title="Aprobar la realización del préstamo de este elemento a la persona indicada">
          <i class="fas fa-thumbs-up"></i>
        </a>
      </td>
      <td>
        <a href="#" id="noprestar" data-id="{{p.idEstatusSolicitud}}" title="Denegar el préstamo a la persona indicada">
          <i class="fas fa-thumbs-down"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h4>Préstamos autorizados</h4>
<table class="table table-condensed table-hover table-sm table-striped" id="tblPrestamosAutorizados">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha solicitud</th>
  <th>Autor</th>
  <th>Persona</th>
</tr>
  </thead>
  <tbody>
    {% for p in aprobada %}
    <tr>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.nombreItem}}</td>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.descrpcionItem}}</td>
      <td>{{p.solicitudPrestamo.fechaSolicitud|date:"d/m/Y"}}</td>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.idAutor.nombres}} {{p.solicitudPrestamo.itemEspecifico.idItem.idAutor.apellidos}}</td>
      <td>{{p.solicitudPrestamo.persona.nombrePersona}} {{p.solicitudPrestamo.persona.apellidoPersona}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Préstamos denegados</h4>
<table class="table table-condensed table-hover table-sm table-striped" id="tblPrestamosDenegados">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha solicitud</th>
  <th>Autor</th>
  <th>Persona</th>
</tr>
  </thead>
  <tbody>
    {% for p in denegada %}
    <tr>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.nombreItem}}</td>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.descrpcionItem}}</td>
      <td>{{p.solicitudPrestamo.fechaSolicitud|date:"d/m/Y"}}</td>
      <td>{{p.solicitudPrestamo.itemEspecifico.idItem.idAutor.nombres}} {{p.solicitudPrestamo.itemEspecifico.idItem.idAutor.apellidos}}</td>
      <td>{{p.solicitudPrestamo.persona.nombrePersona}} {{p.solicitudPrestamo.persona.apellidoPersona}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
{% block scripts %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap4.js" %}"></script>
<link href="{% static "css/dataTables.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  var pen = $('.table').DataTable({
        "language": {
            "url": "/static/js/Spanish.json"
        }
    } );

    $(document).on('click', '#prestar', function(e){
      e.preventDefault();
      var idEstatusSolicitud = $(this).data('id');
      var idEspecifico = $(this).data('especifico');
      $.ajax({
        url: '/sgb/aprobarPrestamo/',
        data: { 'idEstatusSolicitud': idEstatusSolicitud, 'idItemEspecifico' : idEspecifico },
        dataType: 'json',
        type: 'GET',
        success: function (data) {
          alert(data);
          //table.ajax.reload();
          location.reload();
        },
        error: function(e, xhr)
        {
          console.error(e);
          console.error(xhr);
        }
      });
    });

    $(document).on('click', '#noprestar', function(e){
      e.preventDefault();
      var idEstatusSolicitud = $(this).data('id');

      $.ajax({
        url: '/sgb/denegarPrestamo/',
        data: { 'idEstatusSolicitud': idEstatusSolicitud },
        dataType: 'json',
        type: 'GET',
        success: function (data) {
          alert(data);
          //table.ajax.reload();
          location.reload();
        },
        error: function(e, xhr)
        {
          console.error(e);
          console.error(xhr);
        }
      });
    });
</script>
{% endblock scripts %}
