<!DOCTYPE html>
{% extends 'BaseAdmin.html' %}
{% load static %}
{%block contenido %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gestionar SubCategoría</title>

</head>

<body onload="cero()">
<script>
function obtenerID() {
	var table = document.getElementById('table');
	for(var i = 1; i < table.rows.length; i++)
	{
		table.rows[i].onclick = function()
		{
			document.getElementById("idEditar").value = this.cells[0].innerHTML;
			document.getElementById("subEditar").value = this.cells[2].innerHTML;
		};
	}
}
function limpiarCampo() {
	document.getElementById("vacio").value = " ";
}
function limpiarAgregar() {
	document.getElementById("nombreSub").value = " ";
	document.getElementById("descSub").value = " ";
	document.getElementById("selector").selectedIndex = "0"
}
function eliminarID() {
    var table = document.getElementById('table');
	for(var i = 1; i < table.rows.length; i++)
	{
		table.rows[i].onclick = function()
		{
		    var a = this.cells[0].innerHTML;
		    var b = this.cells[2].innerHTML;
		    var c = a + " - " + b;
			document.getElementById("eliminarID").value = c;
		};
	}
}
function filtro() {
  var input, filter, table, tr, td, i;
  var m = document.getElementById("filtro").selectedIndex
  var x = document.getElementById("filtro");
  var i = x.selectedIndex;
  input = x.options[i].text;
  filter = input.toUpperCase();

  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  if (m != 0){
      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }
  else{
	  for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
              if (td.innerHTML.toUpperCase().indexOf("") > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }
}
function cero() {
		document.getElementById("filtro").selectedIndex = "0";
    }
</script>

    <div class="container">
        <div class="table-wrapper">

            <div class="table-title">

                <div class="row">
                    <div class="col-2">
						<h2>Gestionar <b>SubCategoría</b></h2>
					</div>

					<div class="col-sm-1">
						<h2><span class="label label-default">Filtrar:</span></h2>
					</div>

					<div class="col-sm-4">
						<select class="form-control form-control-sm" name="filtro" id="filtro" onchange="filtro()">
							<option>Todos</option>
							{% for c in cat %}
							<option>{{ c.nombreCategoria }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="col-sm-5">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
							<i class="material-icons">&#xE147;</i> <span>Agregar nueva SubCategoria</span></a>
					</div>



                </div>
            </div>

            <table class="table table-striped table-hover" id="table">
                <thead>
                    <tr>
						<th>ID</th>
                        <th>Categoria</th>
                        <th>SubCategoria</th>
						<th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
				{% for c in subCat %}
                    <tr>
						<td>{{ c.idCategoria.idCategoria}}{{ c.idSubCategoria }}</td>
                        <td>{{ c.idCategoria }}</td>
                        <td>{{ c.nombreSubCategoria }}</td>
						<td>{{ c.desSubCategoria }}</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Editar" onclick="obtenerID()">&#xE254;</i></a>
                        	<a href="#deleteEmployeeModal" class="delete" name="eliminar" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Eliminar" onclick="eliminarID()" >&#xE872;</i></a>
						</td>
                    </tr>
				{% endfor %}
                </tbody>
            </table>
        </div>
    </div>



	<!-- FORMULARIO AGREGAR -->
	<div id="addEmployeeModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Agregar Categoria</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label>Categoria</label>
						</div>

							<div class="form-group">
							<select class="form-control" name="selector" id="selector">
							{% for c in cat %}
								<option> {{ c.idCategoria }} - {{ c.nombreCategoria }}</option>
							{% endfor %}
							</select>
						</div>

						<div class="form-group">
							<label>Nombre SubCategoria</label>
							<input type="text" class="form-control" name="nombreSub" id="nombreSub" required>
						</div>

						<div class="form-group">
							<label>Descripción</label>
							<input type="text" class="form-control" name="descSub" id="descSub" >
						</div>

					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar" onclick="limpiarAgregar()">
						<input type="submit" class="btn btn-info" value="Agregar" name="agregar">
					</div>
				</form>
			</div>
		</div>
	</div>




	<!-- FORMULARIO EDITAR -->
	<div id="editEmployeeModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="get">
					<div class="modal-header">
						<h4 class="modal-title">Editar SubCategoria</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label>
							<input type="text" name="idEditar" id="idEditar" class="form-control"  readonly="readonly">
						</div>
						<div class="form-group">
							<label>SubCategoria</label>
							<input type="text" name="nombre" id="subEditar" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Descripción</label>
							<input type="text" name ="descripcion" id="vacio" class="form-control" >
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar"  onclick="limpiarCampo()" >
						<input type="submit" class="btn btn-info" value="Guardar" name="actualizar">
					</div>
				</form>
			</div>
		</div>
	</div>




	<!-- ELIMINAR FORMULARIO -->
	<div id="deleteEmployeeModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="get">
					<div class="modal-header">
						<h4 class="modal-title">Eliminar SubCategoria</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>¿Desea borrar el registro?</p>
						<input style="border:none"  type="text" id="eliminarID" name="eliminarID" readonly="readonly"></input>
						<br>
						<p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
					</div>

					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Eliminar" name="eliminar" >
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
{%endblock contenido %}