<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <!-- AQUI ESTA LA PARTE RESPOSIVA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>home</title>

   

    <!-- Temporary navbar container fix -->
    {% include "base.html" %}

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenidos a nuestro sistema bibliotecario!</div>
                <div class="intro-heading">¡Empecemos!</div>
                
            </div>
        </div>
    </header>
</head>
    <!-- Services -->


    <!-- About -->

    <!-- Team -->
    <section class="bg-faded" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Materiales bibliográficos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static "home/img/libros.jpg" %}" alt="">
                        <h4>Libros</h4>
                        <p class="text-muted"></p>
                        
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static "home/img/tesis.jpg" %}" alt="">
                        <h4>Tesis</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static "home/img/revistas.jpg" %}" alt="">
                        <h4>Revistas</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                           
                        </ul>
                    </div>
                </div>
            
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static "home/img/cdydvd.jpg" %}" alt="">
                        <h4>CD y DVD</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Grupo 8</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                         <li class="list-inline-item">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                           <!-- <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
</body>

</html>
