{% extends 'BaseAdmin.html' %}
{% load static %}

{%block titulo%}
Gestionar Ítems
{%endblock%}

{%block contenido%}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
        <h2>Gestionar <b>ítems</b></h2>
      </div>
      <div class="col-sm-6">
        <a class="btn btn-success" href="{%url 'sgb:itemCrear'%}">
          <i class="material-icons">&#xE147;</i> <span>Agregar nuevo ítem</span></a>
      </div>
            </div>
        </div>


        <table class="table table-striped table-hover" id="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Sub categoría</th>
                <th>Autor</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th height="80">Descripcion</th>
                <th>Fecha</th>
                <th width="40px">Imagen</th>
                <th>Acción</th>
              </tr>
          </thead>
          <tbody>
    {% for i in item %}
              <tr>
                <td>{{ i.idItem}}</td>
                <td>{{i.idSubCategoria}}</td>
                            <td>{{ i.idAutor }}</td>
                            <td>{{ i.nombreItem }}</td>
                            <td>{{i.cantidad}}</td>
                <td>{{ i.descrpcionItem }}</td>
                <td>{{i.fechaPublicacion}}</td>
                {%if i.imagenUrl%}
                <td> <img src="{{i.imagenUrl.url}}" width="50" ></td>
                {%else%}
                <td>No hay imagen disponible</td>
                {%endif%}

                    <td>
                        <a href="{%url 'sgb:itemEdit' i.idItem%}" class="edit">
            <i class="material-icons" data-toggle="tooltip" title="Editar"">&#xE254;</i></a>
                      <a href="{%url 'sgb:itemEliminar' i.idItem%}" class = "delete">
            <i class="material-icons" data-toggle="tooltip" title="Eliminar"  >&#xE872;</i></a>
        </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}
