{% extends 'BaseAdmin.html' %}
{% load static %}

{%block titulo%}
Gestionar Ítems
{%endblock%}

{%block contenido%}
<form method="post">
  {%csrf_token%}
  <h3>¿Desea eliminar el registro del item {{item.idItemEspecifico}}?</h3>
  <h4>Esta acción es irreversible</h4>
  <button class="btn btn-danger" type="submit">Eliminar</button>
  <a class="btn btn-primary" href="{%url 'sgb:itemListar'%}">Cancelar</a>
</form>
{%endblock%}
