{% extends 'BaseAdmin.html' %}
{% load static %}

{%block titulo%}
Gestionar Ítems
{%endblock%}


{% block contenido %}
<div class="container">
  <div class="container">
    <br>
    <form method="POST" role="form" enctype="multipart/form-data" action="" id="upload-image-form"">
      {%csrf_token%}
      {{form.as_p}}
      <button class="btn btn-primary" type="submit" name="button">Guardar</button>
      <a class="btn btn-danger" href="{%url 'sgb:itemListar'%}">Cancelar</a>
    </form>
  </div>

</div>

{% endblock %}
