{% extends 'BaseAdmin.html' %}
{% load static %}

{%block titulo%}
Gestionar Ítems
{%endblock%}

{%block contenido%}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
        <h2>Gestionar <b>ítems</b></h2>
      </div>
      <div class="col-sm-6">
        <a class="btn btn-success" href="{%url 'sgb:itemEspCrear'%}">
          <i class="material-icons">&#xE147;</i> <span>Agregar nuevo ítem específico</span></a>
      </div>
            </div>
        </div>


        <table class="table table-striped table-hover" id="table">
            <thead>
              <tr>
                <th>Ítem</th>
                <th>Biblioteca</th>
                <th>Volúmen</th>
                <th>Editorial</th>
                <th>Acción</th>
              </tr>
          </thead>
          <tbody>
    {% for i in item %}
              <tr>
                <td>{{ i.idItem}}</td>
                <td>{{i.idBiblioteca}}</td>
                <td>{{i.volumen}}</td>
                <td>{{i.editorial}}</td>
                    <td>
                        <a href="{%url 'sgb:itemEspEdit' i.idItemEspecifico%}" class="edit">
            <i class="material-icons" data-toggle="tooltip" title="Editar"">&#xE254;</i></a>
                      <a href="{%url 'sgb:itemEspEliminar' i.idItemEspecifico%}" class = "delete">
            <i class="material-icons" data-toggle="tooltip" title="Eliminar"  >&#xE872;</i></a>
        </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}
