{% extends 'BaseAdmin.html' %}
{% load static %}

{%block titulo%}
Gestionar Ítems
{%endblock%}

{% block javascript %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-ui.js' %}" ></script>

   	<script>

      $(function() {
    $( "#fecha" ).datepicker({
        dateFormat: "dd/mm/yy",
        yearRange: "-90:+1",
        monthNames: [ "Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],
        monthNamesShort: [ "Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"],
        dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
        changeMonth: true,
        changeYear: true,
    });
  } );


	</script>

{% endblock %}

{% block contenido %}
<div class="container">
  <div class="container">
    <br>
    <form method="POST" role="form" enctype="multipart/form-data" action="" id="upload-image-form"">
      {%csrf_token%}
      {{form.as_p}}
      <button class="btn btn-primary" type="submit" name="button">Guardar</button>
      <a class="btn btn-danger" href="{%url 'sgb:itemListar'%}">Cancelar</a>
    </form>
  </div>

</div>

{% endblock %}
