{% extends 'biblioteca.html' %}
{% load static %}
{% block titulo %}
	Estudiantes
{% endblock titulo %}
{%block contenido %}
<br><center><h4><b>Visitantes ingresados</b></h4></center><br>

<a href="/sgb/crearVisitante" class="btn btn-primary">Agregar Visitante</a>

<br />
<hr />
<table class="table table-bordered table-condensed table-hover table-alternate">
	<thead>
		<td>#</td>
		<td>Nombre</td>
		<td>Apellido</td>
		<td>Genero</td>
		<td>Ocupacion</td>
    <td>Telefono</td>
		<td>Fecha de Nacimiento</td>
		<td>Username</td>
		<td>Grado Academico</td>
		<td>Edad</td>
<td> </td><td> </td>

	</thead>
	<tbody>
		{% if visitantes %}
		{% for v in visitantes %}
		<tr>
			<td>{{v.persona.idPersona}}</td>
			<td>{{v.persona.nombrePersona}}</td>
			<td>{{v.persona.apellidoPersona}}</td>
			<td>{{v.persona.genero}}</td>
			<td>{{v.persona.ocupacion}}</td>
      <td>{{v.persona.telefono}}</td>
			<td>{{v.persona.fechaNacimiento|date:"d/m/Y"}}</td>
			<td>{{v.persona.usuario.username}}</td>
			<td>{{v.gradoAcademico}}</td>
			<td>{{v.edad}}</td>
			<td><a href='/sgb/editarVisitante/{{v.persona.idPersona}}' title="Editar visitante"><span class="fas fa-pencil-alt" aria-hidden="true"></span></a></td>
			<td><a href='/sgb/eliminarVisitante/{{v.persona.idPersona}}' title="Eliminar visitante"><span class="fas fa-trash" aria-hidden="true"></span></a></td>
		</tr>
		{% endfor %}

		{% else %}
    <h1>No hay registro de visitantes</h1>
		{% endif %}

	</tbody>

</table>

{%endblock contenido %}
