{% extends 'biblioteca.html' %}
{% load static %}
{% block titulo %}
	Estudiantes
{% endblock titulo %}
{%block contenido %}
<br><center><h4><b>Estudiantes ingresados</b></h4></center><br>

<a href="/sgb/crearEstudiante" class="btn btn-primary">Agregar Estudiante</a>

<br />
<hr />
<table class="table table-bordered table-condensed table-hover table-alternate">
	<thead>
		<td>#</td>
		<td>Nombre</td>
		<td>Apellido</td>
		<td>Genero</td>
		<td>Ocupacion</td>
    <td>Telefono</td>
		<td>Fecha de Nacimiento</td>
		<td>Username</td>
		<td>Carnet</td>
		<td>Lugar de Estudio</td>
<td> </td><td> </td>

	</thead>
	<tbody>
		{% if estudiantes %}
		{% for e in estudiantes %}
		<tr>
			<td>{{e.persona.idPersona}}</td>
			<td>{{e.persona.nombrePersona}}</td>
			<td>{{e.persona.apellidoPersona}}</td>
			<td>{{e.persona.genero}}</td>
			<td>{{e.persona.ocupacion}}</td>
      <td>{{e.persona.telefono}}</td>
			<td>{{e.persona.fechaNacimiento|date:"d/m/Y"}}</td>
			<td>{{e.persona.usuario.username}}</td>
			<td>{{e.carnet}}</td>
			<td>{{e.lugarEstudio}}</td>
			<td><a href='/sgb/editarEstudiante/{{e.persona.idPersona}}' title="Editar estudiante"><span class="fas fa-pencil-alt" aria-hidden="true"></span></a></td>
			<td><a href='/sgb/eliminarEstudiante/{{e.persona.idPersona}}' title="Eliminar estudiante"><span class="fas fa-trash" aria-hidden="true"></span></a></td>
		</tr>
		{% endfor %}

		{% else %}
    <h1>No hay registro de estudiantes</h1>
		{% endif %}

	</tbody>

</table>

{%endblock contenido %}
