{% extends 'biblioteca.html' %}
{% load static %}
{% block titulo %}
	Estudiantes
{% endblock titulo %}
{%block contenido %}
<br><center><h4><b>Bibliotecarios ingresados</b></h4></center><br>

<a href="/sgb/crearBibliotecario" class="btn btn-primary">Agregar Bibliotecario</a>

<br />
<hr />
<table class="table table-bordered table-condensed table-hover table-alternate">
	<thead>
		<td>#</td>
		<td>Nombre</td>
		<td>Apellido</td>
    <td>Telefono</td>
		<td>Fecha de Nacimiento</td>
		<td>Username</td>
		<td>Biblioteca </td>
		<td>Puesto</td>
		<td>Contratacion</td>
<td> </td><td> </td>

	</thead>
	<tbody>
		{% if bibliotecarios %}
			{% for b in bibliotecarios %}
			<tr>
				<td>{{b.persona.idPersona}}</td>
				<td>{{b.persona.nombrePersona}}</td>
				<td>{{b.persona.apellidoPersona}}</td>
	      <td>{{b.persona.telefono}}</td>
				<td>{{b.persona.fechaNacimiento|date:"d/m/Y"}}</td>
				<td>{{b.persona.usuario.username}}</td>
				<td>{{b.biblioteca.nombreBiblioteca}}</td>
				<td>{{b.puesto}}</td>
				<td>{{b.fechaContratacion|date:"d/m/Y"}}</td>
				<td><a href='/sgb/editarBibliotecario/{{b.persona.idPersona}}' title="Editar bibliotecario"><span class="fas fa-pencil-alt" aria-hidden="true"></span></a></td>
				<td><a href='/sgb/eliminarBibliotecario/{{b.persona.idPersona}}' title="Eliminar bibliotecario"><span class="fas fa-trash" aria-hidden="true"></span></a></td>
			</tr>
			{% endfor %}

		{% else %}
    <h3>No hay registro de bibliotecarios</h3>
		{% endif %}

	</tbody>

</table>
{%endblock %}
