<!DOCTYPE html>
{% extends 'BaseAdmin.html' %}
{% load static %}
<head>
	<title>{% block titulo %}Bibliotecas{% endblock titulo %}</title>
	</head>
<body>
{%block contenido %}
<br><center><h4><b>Bibliotecas ingresadas</b></h4></center><br>
<table class="table table-bordered">
	<thead>
		<td>#</td>
		<td>Nombre</td>
		<td>Descripcion</td>
		<td>Direccion</td>
		<td>Telefono</td>
	</thead>
	<tbody>
		{% if bibliotecas %}
		{% for biblioteca in bibliotecas %}
		<tr>
			<td>{{biblioteca.idBiblioteca}}</td>
			<td>{{biblioteca.nombreBiblioteca}}</td>
			<td>{{biblioteca.descripcionBiblioteca}}</td>
			<td>{{biblioteca.direccion}}</td>
			<td>{{biblioteca.telefono}}</td>
		</tr>
		{% endfor %}

		{% else %}
			<h1>No hay registro de bibliotecass</h1>
		{% endif %}

	</tbody>

</table>

{%endblock contenido %}
</body>
