<!DOCTYPE html>
<html>
<header>

<div>
{% include "base.html" %}
</div>

</header>
<title>Inicio de sesion</title>

<body>
<br>
	<br>
		<br>
	<center><section>
 		<form method="POST" action="  ">
		{% csrf_token %}
	  {{ form.as_p}} 
		<input type="submit" value="iniciar sesion">
	</form>

	{% if message %}
 	<p> {{ message }} </p>
     {% endif %}
	</section></center>
</body>
</html>
