{% extends 'biblioteca.html' %}
{% load static%}
{% block titulo %}Solicitar préstamo{% endblock titulo %}
{% block contenido %}
{% if mensaje %}
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Error!</div>
  <div class="card-body text-danger">
    <h5 class="card-title">Ha ocurrido un error</h5>
    <p class="card-text">{{mensaje}}</p>
  </div>
</div>
{% endif %}
<h2>Recibir items prestados</h2>
<table class="table table-condensed table-hover table-sm table-striped" id="tblPrestamos">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha solicitud</th>
  <th>Autor</th>
  <th>Persona</th>
  <th> </th>
</tr>
  </thead>
  <tbody>
    {% for p in prestamos %}
    <tr>
      <td>{{p.prestamo.itemEspecifico.idItem.nombreItem}}</td>
      <td>{{p.prestamo.itemEspecifico.idItem.descrpcionItem}}</td>
      <td>{{p.prestamo.fechaPrestamo|date:"d/m/Y"}}</td>
      <td>{{p.prestamo.itemEspecifico.idItem.idAutor.nombres}} {{p.prestamo.itemEspecifico.idItem.idAutor.apellidos}}</td>
      <td>{{p.prestamo.persona.nombrePersona}} {{p.prestamo.persona.apellidoPersona}}</td>
      <td>
        <a href="#" title="Recibir item prestado" data-prestado="{{p.idEstatusPrestamo}}" data-toggle="modal" data-target="#modalConfirmar">
          <i class="fas fa-arrow-circle-left"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Items recibidos</h2>
<table class="table table-condensed table-hover table-sm table-striped" id="tblPrestamosRecibidos">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha solicitud</th>
  <th>Autor</th>
  <th>Persona</th>
</tr>
  </thead>
  <tbody>
    {% for p in recibidos %}
    <tr>
      <td>{{p.prestamo.itemEspecifico.idItem.nombreItem}}</td>
      <td>{{p.prestamo.itemEspecifico.idItem.descrpcionItem}}</td>
      <td>{{p.prestamo.fechaPrestamo|date:"d/m/Y"}}</td>
      <td>{{p.prestamo.itemEspecifico.idItem.idAutor.nombres}} {{p.prestamo.itemEspecifico.idItem.idAutor.apellidos}}</td>
      <td>{{p.prestamo.persona.nombrePersona}} {{p.prestamo.persona.apellidoPersona}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
{% block scripts %}
<!-- Modal -->
<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmarLabel">Dar ingreso al item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Recibir el préstamo realizado por <label id="persona"><strong>
        </strong></label> del libro <label id="item"><strong>
        </strong></label>
      </div>
      <div class="modal-footer">
        <form method="POST" action="">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <input type="hidden" id="HdnidEstatusPrestamo" name="idEstatusPrestamo" value />
          <input type="submit" class="btn btn-primary" value="Recibir item" style="cursor:pointer;" />
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap4.js" %}"></script>
<link href="{% static "css/dataTables.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  $('.table').DataTable({
        "language": {
            "url": "/static/js/Spanish.json"
        }
    } );

    $('#modalConfirmar').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var idEstatusPrestamo = button.data('prestado');
      var modal = $(this);

      $.ajax({
        url: '/sgb/getEstatusPrestamo/',
        data: { 'idEstatusPrestamo': idEstatusPrestamo },
        dataType: 'json',
        type: 'GET',
        success: function (data) {
          //console.log(data);
          modal.find('.modal-body label#persona strong').html(data.persona);
          modal.find('.modal-body label#item strong').html(data.item);
        },
        error: function(e, xhr)
        {
          console.error(e);
          console.error(xhr);
        }
      });
      modal.find('#HdnidEstatusPrestamo').val(idEstatusPrestamo);
    });
</script>
{% endblock scripts %}
