{% extends 'biblioteca.html' %}
{% load static%}
{% block titulo %}Solicitar préstamo{% endblock titulo %}
{% block contenido %}
<h2>Solicitar préstamo</h2>
{% if mensaje %}
<div class="card border-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Error!</div>
  <div class="card-body text-danger">
    <h5 class="card-title">Ha ocurrido un error</h5>
    <p class="card-text">{{mensaje}}</p>
  </div>
</div>
{% endif %}
<h4>Seleccione el elemento que desea prestar</h4>
<table class="table table-condensed table-hover table-sm table-striped" id="tblItems">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha publicación</th>
  <th>Cantidad disponible</th>
  <th>Autor</th>
  <th>Volumen</th>
  <th>Editorial</th>
  <th>&nbsp;</th>
</tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr>
      <td>{{i.idItem.nombreItem}}</td>
      <td>{{i.idItem.descrpcionItem}}</td>
      <td>{{i.idItem.fechaPublicacion|date:"d/m/Y"}}</td>
      <td>{{i.idItem.cantidad}}</td>
      <td>{{i.idItem.idAutor.nombres}} {{i.idItem.idAutor.apellidos}}</td>
      <td>{{i.volumen}}</td>
      <td>{{i.editorial}}</td>
      <td>
        <a href="#" id="Solicitar" title="Solicitar este item para prestar" data-item="{{i.idItemEspecifico}}" data-toggle="modal" data-target="#modalConfirmar">
          <i class="fas fa-share-square"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h4>Solicitudes hechas por el usuario</h4>
<table class="table table-condensed table-hover table-sm table-striped" id="tblPrestamos">
  <thead>
<tr>
  <th>Item</th>
  <th>Descripción</th>
  <th>Fecha solicitado</th>
  <th>Autor</th>
  <th>Volumen</th>
  <th>Editorial</th>
  <th>Estado</th>
</tr>
  </thead>
  <tbody>
    {% for s in solicitudes %}
    <tr>
      <td>{{s.solicitudPrestamo.itemEspecifico.idItem.nombreItem}}</td>
      <td>{{s.solicitudPrestamo.itemEspecifico.idItem.descrpcionItem}}</td>
      <td>{{s.solicitudPrestamo.fechaSolicitud|date:"d/m/Y"}}</td>
      <td>{{s.solicitudPrestamo.itemEspecifico.idItem.idAutor.nombres}} {{s.solicitudPrestamo.itemEspecifico.idItem.idAutor.apellidos}}</td>
      <td>{{s.solicitudPrestamo.itemEspecifico.volumen}}</td>
      <td>{{s.solicitudPrestamo.itemEspecifico.editorial}}</td>
      <td>{{s.tipoEstatusSolicitud.nombreTipoEstatusSolicitud}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
{% block scripts %}
<!-- Modal -->
<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmarLabel">Solicitar item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Está seguro que desea solicitar el préstamo del item <label><strong>
        </strong></label>
      </div>
      <div class="modal-footer">
        <form method="POST" action="">
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <input type="hidden" id="HdnIdItem" name="item_especifico" value />
          <input type="submit" class="btn btn-primary" value="Confirmar" style="cursor:pointer;" />
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap4.js" %}"></script>
<link href="{% static "css/dataTables.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
<script type="text/javascript">
  $('#tblItems,#tblPrestamos').DataTable({
        "language": {
            "url": "/static/js/Spanish.json"
        }
    } );

    $('#modalConfirmar').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var itemEspecifico = button.data('item');
      var modal = $(this);

      $.ajax({
        url: '/sgb/getItemEspecifico/',
        data: { 'idItemEspecifico': itemEspecifico },
        dataType: 'json',
        type: 'GET',
        success: function (data) {
          //console.log(data);
          modal.find('.modal-body label strong').html(data);
        },
        error: function(e, xhr)
        {
          console.error(e);
          console.error(xhr);
        }
      });
      modal.find('#HdnIdItem').val(itemEspecifico);
    });

</script>
{% endblock scripts %}
